# Đọc và lưu dữ liệu

In [2]:
import json
import pandas as pd
#SCHEDULES
# Mở và load dữ liệu từ 'schedules.json'
with open('schedules.json', 'r') as file:
    sche = json.load(file)

# Chuyển dữ liệu thành DataFrame
sche_df = pd.DataFrame(sche)

# Lưu DataFrame vào file CSV
sche_df.to_csv('schedules.csv', index=False)

#STATIONS
# Đọc file JSON
with open('stations.json', 'r') as file:
    sta = json.load(file)

# Trích xuất các 'features' từ dữ liệu JSON
features = sta['features']

# Chuyển đổi dữ liệu từ 'features' thành DataFrame
sta_df = pd.json_normalize(features)

# Lưu DataFrame vào file CSV
sta_df.to_csv('stations.csv', index=False)

#TRAINS
# Đọc file JSON
with open('trains.json', 'r') as file:
    tra = json.load(file)

# Trích xuất các 'features' từ dữ liệu JSON
features = tra['features']

# Chuyển đổi dữ liệu từ 'features' thành DataFrame
tra_df = pd.json_normalize(features)

# Lưu DataFrame vào file CSV
tra_df.to_csv('trains.csv', index=False)

# SCHEDULES

In [4]:
schedules=pd.read_csv('schedules.csv')

In [5]:
schedules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417080 entries, 0 to 417079
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   arrival       389245 non-null  object
 1   day           394519 non-null  float64
 2   train_name    417072 non-null  object
 3   station_name  417078 non-null  object
 4   station_code  417080 non-null  object
 5   id            417080 non-null  int64
 6   train_number  417080 non-null  object
 7   departure     389253 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 25.5+ MB

In [6]:
import pandas as pd
import numpy as np

# Giả sử bạn đã có 'sche_df' là DataFrame của schedules
# Xử lý cột day: điền giá trị null bằng 0 hoặc giá trị hợp lý khác
schedules['day'].fillna(0)

# Điền giá trị null cho arrival và departure bằng chuỗi rỗng
schedules['arrival'].fillna('Unknown')
schedules['departure'].fillna('Unknown')

# Xử lý các cột object khác
schedules = schedules.dropna()

# Kiểm tra lại kiểu dữ liệu
schedules['day'] = schedules['day'].astype(int)

# Xem kết quả sau khi làm sạch
print(schedules.info())

<class 'pandas.core.frame.DataFrame'>
Index: 384105 entries, 17 to 417078
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   arrival       384105 non-null  object
 1   day           384105 non-null  int32
 2   train_name    384105 non-null  object
 3   station_name  384105 non-null  object
 4   station_code  384105 non-null  object
 5   id            384105 non-null  int64
 6   train_number  384105 non-null  object
 7   departure     384105 non-null  object
dtypes: int32(1), int64(1), object(6)
memory usage: 24.9+ MB
None

In [7]:
# Đổi giá trị của các cột station_name và station_code thành chữ viết hoa
schedules['station_name'] = schedules['station_name'].str.upper()
schedules['station_code'] = schedules['station_code'].str.upper()

# Đổi tên cột thành dạng title (thay _ thành khoảng trắng và viết hoa chữ cái đầu)
schedules.columns = schedules.columns.str.replace('_', ' ').str.title()

# Kiểm tra kết quả
schedules.head()

,Arrival,Day,Train Name,Station Name,Station Code,Id,Train Number,Departure
17,06:49:00,1,Pipar Road -Jodhpur Passenger Special,PIPAR ROAD JN,PPR,11813,04857,06:50:00
27,18:10:00,1,Bxt Alipur Duar Passenger,NEW COOCH BEHAR,NCB,299907,55792,18:15:00
297,13:25:00,1,Karimganj Dullabcherra Passenger,KURSEONG,KGN,338775,52571,13:35:00
561,09:35:00,1,Laukaha Bazar Sakri Passenger,JHANJHARPUR,JJP,121182,52520,09:40:00
718,11:10:00,1,Mandla Fort Balaghat Passenger,NAINPUR JUNCTION,NIR,344967,58858,11:30:00

In [8]:
schedules.to_csv('cleaned_schedules.csv', index=False)

# STATIONS

In [10]:
stations=pd.read_csv('stations.csv')

In [11]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8990 entries, 0 to 8989
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  8990 non-null   object
 1   geometry.type         8697 non-null   object
 2   geometry.coordinates  8697 non-null   object
 3   properties.state      4397 non-null   object
 4   properties.code       8990 non-null   object
 5   properties.name       8989 non-null   object
 6   properties.zone       4458 non-null   object
 7   properties.address    4397 non-null   object
 8   geometry              0 non-null      float64
dtypes: float64(1), object(8)
memory usage: 632.2+ KB

In [12]:
# Danh sách các cột cần xóa trong DataFrame schedules
cols_to_drop_stations = ['type', 'geometry.type', 'geometry.coordinates','geometry']

# Sử dụng vòng lặp để xóa các cột
for col in cols_to_drop_stations:
    if col in stations.columns:
        stations.drop(col, axis=1, inplace=True)
        
# Đổi các giá trị '?' trong cột properties.zone thành giá trị null (hoặc 'Unknown')
stations['properties.zone']=stations['properties.zone'].replace('?', 'Unknown')

# Xóa các hàng có giá trị null ở bất kỳ cột nào
stations = stations.dropna()

In [13]:
# Kiểm tra lại dữ liệu sau khi làm sạch
print(stations.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4397 entries, 0 to 6503
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   properties.state    4397 non-null   object
 1   properties.code     4397 non-null   object
 2   properties.name     4397 non-null   object
 3   properties.zone     4397 non-null   object
 4   properties.address  4397 non-null   object
dtypes: object(5)
memory usage: 206.1+ KB
None

In [14]:
# Đổi tên cột thành dạng title (thay . thành khoảng trắng và viết hoa chữ cái đầu)
stations.columns = stations.columns.str.replace('.', ' ').str.title()

In [15]:
stations.to_csv('cleaned_stations.csv', index=False)

# TRAINS

In [17]:
trains=pd.read_csv('trains.csv')

In [18]:
trains.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   type                          5208 non-null   object
 1   geometry.type                 5208 non-null   object
 2   geometry.coordinates          5208 non-null   object
 3   properties.third_ac           5208 non-null   int64
 4   properties.arrival            5193 non-null   object
 5   properties.from_station_code  5208 non-null   object
 6   properties.name               5207 non-null   object
 7   properties.zone               5193 non-null   object
 8   properties.chair_car          5208 non-null   int64
 9   properties.first_class        5208 non-null   int64
 10  properties.duration_m         5193 non-null   float64
 11  properties.sleeper            5208 non-null   int64
 12  properties.from_station_name  5208 non-null   object
 13  properties.number             5208 non-null   object
 14  properties.departure          5193 non-null   object
 15  properties.return_train       4609 non-null   object
 16  properties.to_station_code    5208 non-null   object
 17  properties.second_ac          5208 non-null   int64
 18  properties.classes            0 non-null      float64
 19  properties.to_station_name    5208 non-null   object
 20  properties.duration_h         5193 non-null   float64
 21  properties.type               5193 non-null   object
 22  properties.first_ac           5208 non-null   int64
 23  properties.distance           5193 non-null   float64
dtypes: float64(4), int64(6), object(14)
memory usage: 976.6+ KB

In [19]:
# Danh sách các cột cần xóa trong DataFrame schedules
cols_to_drop_trains = ['type', 'geometry.type', 'geometry.coordinates','properties.classes']

# Sử dụng vòng lặp để xóa các cột
for col in cols_to_drop_trains:
    if col in trains.columns:
        trains.drop(col, axis=1,inplace=True)

trains.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208 entries, 0 to 5207
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   properties.third_ac           5208 non-null   int64
 1   properties.arrival            5193 non-null   object
 2   properties.from_station_code  5208 non-null   object
 3   properties.name               5207 non-null   object
 4   properties.zone               5193 non-null   object
 5   properties.chair_car          5208 non-null   int64
 6   properties.first_class        5208 non-null   int64
 7   properties.duration_m         5193 non-null   float64
 8   properties.sleeper            5208 non-null   int64
 9   properties.from_station_name  5208 non-null   object
 10  properties.number             5208 non-null   object
 11  properties.departure          5193 non-null   object
 12  properties.return_train       4609 non-null   object
 13  properties.to_station_code    5208 non-null   object
 14  properties.second_ac          5208 non-null   int64
 15  properties.to_station_name    5208 non-null   object
 16  properties.duration_h         5193 non-null   float64
 17  properties.type               5193 non-null   object
 18  properties.first_ac           5208 non-null   int64
 19  properties.distance           5193 non-null   float64
dtypes: float64(3), int64(6), object(11)
memory usage: 813.9+ KB

In [20]:

# Điền giá trị null cho các cột quan trọng
trains['properties.arrival'].fillna('Unknown')
trains['properties.departure'].fillna('Unknown')
trains['properties.zone'].fillna('Unknown')
trains['properties.return_train'].fillna('Unknown')

# Xử lý cột số liệu: điền giá trị null bằng 0 cho duration và distance
trains['properties.duration_m'].fillna(0)
trains['properties.duration_h'].fillna(0)
trains['properties.distance'].fillna(0)

# Đổi các giá trị '?' trong cột properties.zone thành giá trị null (hoặc 'Unknown')
trains['properties.zone']=trains['properties.zone'].replace('?', 'Unknown')

trains = trains.dropna()

# Kiểm tra lại kiểu dữ liệu
trains['properties.duration_m'] = trains['properties.duration_m'].astype(float)
trains['properties.duration_h'] = trains['properties.duration_h'].astype(float)
trains['properties.distance'] = trains['properties.distance'].astype(float)

# Xem thông tin sau khi làm sạch
print(trains.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4593 entries, 0 to 5205
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   properties.third_ac           4593 non-null   int64
 1   properties.arrival            4593 non-null   object
 2   properties.from_station_code  4593 non-null   object
 3   properties.name               4593 non-null   object
 4   properties.zone               4593 non-null   object
 5   properties.chair_car          4593 non-null   int64
 6   properties.first_class        4593 non-null   int64
 7   properties.duration_m         4593 non-null   float64
 8   properties.sleeper            4593 non-null   int64
 9   properties.from_station_name  4593 non-null   object
 10  properties.number             4593 non-null   object
 11  properties.departure          4593 non-null   object
 12  properties.return_train       4593 non-null   object
 13  properties.to_station_code    4593 non-null   object
 14  properties.second_ac          4593 non-null   int64
 15  properties.to_station_name    4593 non-null   object
 16  properties.duration_h         4593 non-null   float64
 17  properties.type               4593 non-null   object
 18  properties.first_ac           4593 non-null   int64
 19  properties.distance           4593 non-null   float64
dtypes: float64(3), int64(6), object(11)
memory usage: 753.5+ KB
None

In [21]:
# Đổi tên cột thành dạng title (thay _ và . thành khoảng trắng và viết hoa chữ cái đầu)
trains.columns = trains.columns.str.replace('.', ' ').str.title()
trains.columns = trains.columns.str.replace('_', ' ').str.title()

In [22]:
trains.to_csv('cleaned_strains.csv', index=False)